#ifndef __CTRLR_REVISION__
#define __CTRLR_REVISION__

static const char *ctrlrRevision              	= "%REVISION%";
static const char *ctrlrRevisionDate        	= "%REVISION_DATE%";
static const char *ctrlrRevisionBuildDate   	= "%REVISION_BUILD_DATE%";

#endif
