#ifndef __CTRLR_REVISION__
#define __CTRLR_REVISION__

static const int ctrlrRevision              	= $WCREV$;
static const char *ctrlrRevisionDate        	= "$WCDATE$";
static const char *ctrlrRevisionBuildDate   	= "$WCNOW$";

#endif
