#ifndef __CTRLR_REVISION__
#define __CTRLR_REVISION__

static const char *ctrlrRevision              	= "${CMAKE_PROJECT_VERSION}";
static const char *ctrlrRevisionDate        	= "${BUILD_TIME}";

#endif
