Source/Core/CtrlrRevision.h
Source/Misc/boost/**
!Source/Misc/boost/boost.zip
Builds/VisualStudio2017/**
!Builds/VisualStudio2017/Ctrlr.sln
!Builds/VisualStudio2017/resources.rc
Builds/**
Packaging/**
.vscode/**
Source/Core/stdafx_luabind.h.gch
Source/Core/stdafx.h.gch
