Source: ctrlr
Section: unknown
Priority: optional
Maintainer: Tobias Schlemmer <tobias@tobias4.schlemmersoft.de>
Build-Depends: debhelper-compat (= 13), cmake, liblua5.1-bitop-dev, libluabind-dev, liblua5.1-dev, libusb-1.0-0-dev
Standards-Version: 4.6.0
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/ctrlr
#Vcs-Git: https://salsa.debian.org/debian/ctrlr.git
Rules-Requires-Root: no

Package: ctrlr
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Gewünscht=Unbekannt/Installieren/R=Entfernen/P=Vollständig Löschen/Halten
| Status=Nicht/Installiert/Config/U=Entpackt/halb konFiguriert/
         Halb installiert/Trigger erWartet/Trigger anhängig
|/ Fehler?=(kein)/R=Neuinstallation notwendig (Status, Fehler: GROSS=schlecht)
||/ Name                             Version          Architektur  Beschreibung
+++-================================-================-============-==========================================================================
un  downloadstatusbar                <keine>          <keine>      (keine Beschreibung vorhanden)
un  iceweasel-downloadstatusbar      <keine>          <keine>      (keine Beschreibung vorhanden)
ii  ipp-usb:i386                     0.9.23-1+b1      i386         Daemon for IPP over USB printer support
ii  libgusb2:amd64                   0.3.10-1         amd64        GLib wrapper around libusb1
ii  libhidapi-libusb0:amd64          0.12.0-1         amd64        Multi-Platform library for communication with HID devices (libusb backend)
ii  libusb-0.1-4:amd64               2:0.1.12-32      amd64        userspace USB programming library
rc  libusb-0.1-4:i386                2:0.1.12-23.2    i386         userspace USB programming library
ii  libusb-1.0-0:amd64               2:1.0.26-1       amd64        userspace USB programming library
ii  libusb-1.0-0:i386                2:1.0.26-1       i386         userspace USB programming library
ii  libusb-1.0-0-dev:amd64           2:1.0.26-1       amd64        userspace USB programming library development files
ii  libusb-1.0-doc                   2:1.0.26-1       all          documentation for userspace USB programming
ii  libusb-dev                       2:0.1.12-32      amd64        userspace USB programming library development files
un  libusb0                          <keine>          <keine>      (keine Beschreibung vorhanden)
un  libusbmuxd-tools                 <keine>          <keine>      (keine Beschreibung vorhanden)
rc  libusbmuxd1                      1.0.7-2          amd64        USB multiplexor daemon for iPhone and iPod Touch devices - library
rc  libusbmuxd2:amd64                1.0.9-1+b1       amd64        USB multiplexor daemon for iPhone and iPod Touch devices - library
ii  libusbmuxd6:amd64                2.0.2-3          amd64        USB multiplexor daemon for iPhone and iPod Touch devices - library
ii  libusbredirhost1:amd64           0.13.0-1         amd64        Implementing the usb-host (*) side of a usbredir connection (runtime)
rc  libusbredirparser0:amd64         0.4.3-2          amd64        Parser for the usbredir protocol (runtime)
ii  libusbredirparser1:amd64         0.13.0-1         amd64        Parser for the usbredir protocol (runtime)
ii  node-busboy                      1.6.0+~cs2.6.0-2 all          Node.js module for parsing incoming HTML form data
un  node-types-busboy                <keine>          <keine>      (keine Beschreibung vorhanden)
ii  spice-client-glib-usb-acl-helper 0.41-2           amd64        Helper tool to validate usb ACLs
ii  usb-modeswitch                   2.6.1-3+b1       amd64        mode switching tool for controlling "flip flop" USB devices
ii  usb-modeswitch-data              20191128-5       all          mode switching data for usb-modeswitch
un  usb-modeswitch-data-packed       <keine>          <keine>      (keine Beschreibung vorhanden)
ii  usb.ids                          2022.12.15-1     all          USB ID Repository
ii  usbip                            2.0+6.0.12-1     amd64        USB device sharing system over IP network
ii  usbmuxd                          1.1.1-2          amd64        USB multiplexor daemon for iPhone and iPod Touch devices
ii  usbutils                         1:014-1          amd64        Linux USB utilities
rc  xul-ext-downloadstatusbar        0.9.7.2-1        all          Iceweasel/Firefox addon that provides an improved download statusbar
