<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Ctrlr - AU.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Ctrlr - AUv3 AppExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Ctrlr - All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Ctrlr - Shared Code.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Ctrlr - Standalone Plugin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Ctrlr - VST.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Ctrlr - VST3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>46A18ED82E58216C4534B54D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>544444E5E2056935093BEFD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70CBFA3BF27569C03E0B9927</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>939EBC04F2B294AE199B7E40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95BA742C0DD8D4F51296A065</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA246935607B47B955421D13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E64B69B5ECADB5780A98FC7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
